*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    
}
:root{
  --x:rgb(182, 9, 9);
}
.home{
    height: 100vh;
    background-image: url("./images/1638902.webp");
    background-repeat: no-repeat;
    background-position: 60% 0%;
    background-size: cover;
    background-attachment: fixed;
  }
   
 #home:hover{
    color: var(--x);
    font-weight: 500;
  }
  #abt:hover{
    color: var(--x) ;
    font-weight: 500;
  }
  #resume:hover{
    color: var(--x);
    font-weight: 500;
  }
  #skills:hover{
  color: var(--x);
  font-weight: 500;
  }
  #contact:hover{
  color: var(--x);
  font-weight: 500;
  }
  #btn:hover{
    color:var(--x);
    background-color: white;
  }
  #Resume{
    background-color: rgba(99, 93, 93, 0.288);   
  }
 
  .progress {
    border-radius: 10px;
  }
  
  .progress .progress-bar1 {
    width: 95%;
    border-radius: 10px;
    transition: 2s;
  }
  .progress .progress-bar2 {
    width: 85%;
    border-radius: 10px;
    transition: 2s;
  }
  .progress .progress-bar3 {
    width: 90%;
    border-radius: 10px;
    transition: 2s;
  }
  .progress .progress-bar4 {
    width: 89%;
    border-radius: 10px;
    transition: 2s;
  }
  .progress .progress-bar5{
    width: 84%;
    border-radius: 10px;
    transition: 2s;
  }
  .progress .progress-bar6 {
    width: 85%;
    border-radius: 10px;
    transition: 2s;
  }
#Contact {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    background-image: url("./images/ctctpic.jpg");
   
  }
  .back-to-top {
    position: fixed;
    display: none;
    width: 30px;
    text-align: center;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
  }

  
  @keyframes action {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-15px);
    }
  }
.social-icons .envelope{
  animation: shake 1s infinite alternate;

}
@keyframes shake{
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.social-icons .instagram{
  animation: move 1s infinite alternate;

}
@keyframes move{
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-15px);
  }
}
  
.social-icons .linkedin{
  animation: shake 1s infinite alternate;
  
}
@keyframes shake{
  0% {
    transform: translateY(0);
  
  }
  100% {
    transform: translateY(-15px);
  }
}

.social-icons .github{
  animation: move 1s infinite alternate;

}
@keyframes move{
  100% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-15px);
  }
}